.newP, .btn-primary , .listC, .modal-content {
    height: 50px;
    width: 50%;
    font-family: "Dosis";
    font-size: 1rem;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #000000;
}

.listC {
    margin-top: 15px;
    height: 300px;
}

.modal-content {
    height: 100px;
    padding: 10px;
}

.btn btn-primary {
    margin: 5px;
}

input[type=text] {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}